@import url("https://fonts.googleapis.com/css2?family=Gothic+A1&display=swap");

*,
*::after,
*::before {
  font-weight: normal;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: "Gothic A1", sans-serif;
}

/* Header Styling */

.header {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: clamp(3vw, 3rem, 15vw);
  min-width: 100%;
  padding: 2rem;
  min-height: 15vh;
  background-color: #404040;
  color: #fafafa;
}

/* Main Content Styling */

.main-content {
  display: grid;
  grid-template-columns: 1fr 5fr;
  color: #18181b;
  min-height: 72.7vh;
}

/* SideBar Styling */

.sidebar {
  color: #18181b;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  height: 100%;
  align-items: center;
  row-gap: 1.5rem;
}

.default {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  margin-top: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
}

h1 {
  font-weight: bold;
}

.add-project-button {
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
}

/* todo tasks section styling */

/* input section styling */

.wrapper-for-task-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  column-gap: 1rem;
}

.wrapper-for-task-info > span {
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  margin: 1.5rem;
  border-radius: 1rem;
  padding: 1em;
  row-gap: 2rem;
  color: #18181b;
}

.task-description {
  display: flex;
  align-items: flex-start;
  column-gap: 1rem;
  color: #18181b;
}

label {
  font-weight: 600;
  color: #18181b;
}

input[type="text"],
textarea {
  flex: 1;
}

.cancel-button {
  align-self: flex-end;
}

.task-title {
  display: flex;
  color: #18181b;
  column-gap: 3.22rem;
}

.priority {
  font-weight: 600;
  display: flex;
  column-gap: 1rem;
  align-items: center;
  color: #18181b;
}

.low,
.medium,
.high {
  border-radius: 4px;
  padding: 5px 10px;
  font-weight: 600;
  background-color: white;
  font-family: "Gothic A1", sans-serif;
}

.low {
  border: 1px solid green;
  color: green;
}

.low:hover {
  cursor: pointer;
  background-color: green;
  color: white;
  transform: scale(106%);
  transition: all 0.2s;
}

.low.active {
  cursor: pointer;
  background-color: green;
  color: white;
  transform: scale(106%);
  transition: all 0.2s;
}

.medium {
  border: 1px solid #e9e92a;
  color: #e9e92a;
}

.medium:hover {
  cursor: pointer;
  background-color: #e9e92a;
  color: white;
  transform: scale(106%);
  transition: all 0.2s;
}

.medium.active {
  cursor: pointer;
  background-color: #e9e92a;
  color: white;
  transform: scale(106%);
  transition: all 0.2s;
}

.high {
  color: red;
  border: 1px solid red;
}

.high:hover {
  cursor: pointer;
  background-color: red;
  color: white;
  transform: scale(106%);
  transition: all 0.2s;
}

.high.active {
  cursor: pointer;
  background-color: red;
  color: white;
  transform: scale(106%);
  transition: all 0.2s;
}

.due-date {
  font-weight: 600;
  color: #18181b;
}

#due-date.due {
  margin-right: auto;
  background-color: white;
  color: #18181b;
}

/* tasks section styling */

.task-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}

.item {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  align-items: center;
  padding: 1.5rem;
  border-radius: 1rem;
  width: max(200px, 225px);
}

.item.low-prio {
  border: 2px solid green;
}

.item.mid-prio {
  border: 2px solid yellow;
}

.item.high-prio {
  border: 2px solid red;
}

div.item > div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thin-line {
  height: 1px;
  background-color: #18181b;
  width: 80%;
  margin: 1.5rem 0;
}

input[type="date"] {
  border: none;
  background-color: #18181b;
  color: #fafafa;
}

.delete-button,
.cancel-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  transition: transform 0.3s ease-in-out;
  font-size: 1.25rem;
}

.delete-button:hover,
.cancel-button:hover {
  color: red;
  transform: rotate(360deg);
}

.todo-section {
  display: flex;
  flex-direction: column;
}

.task-title {
  font-weight: 600;
  flex: 1;
}

/* footer styling */

.footer {
  background-color: #404040;
  height: 4.3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.5rem;
  font-weight: 600;
  font-size: 1.3rem;
  color: #fafafa;
}

a {
  display: flex;
  align-items: center;
  justify-content: center;
}
